[hls]

part=xcu50-fsvh2104-2-e

freqhz=300MHz
clock_uncertainty=1.5ns

flow_target=vitis

# Source files
syn.file=/home/ehe12/HLSTranform/code/src/forward.cpp
syn.file=/home/ehe12/HLSTranform/code/src/forward.h
syn.file=/home/ehe12/HLSTranform/code/src/typedefs.h
syn.file=/home/ehe12/HLSTranform/code/src/config.h
syn.top=forward

# Testbench files
tb.file=/home/ehe12/HLSTranform/code/testbench/testbench.cpp
tb.file=/home/ehe12/HLSTranform/code/testbench/tokenizer.bin
tb.file=/home/ehe12/HLSTranform/code/testbench/weights.bin

# Output format
package.output.format=xo

csim.O=true
cosim.O=true
cosim.trace_level=port

