[connectivity]
# Weights, caches, results mapped to different HBM banks for max BW
sp=forward_1.transformer:HBM[0:7]
sp=forward_1.key_cache:HBM[8:15]
sp=forward_1.value_cache:HBM[16:23]
sp=forward_1.out:HBM[24]
nk=forward:1


[profile]
exec=all:all
data=all:all:all
stall=all:all